.board {
	margin-top: 0px;
	margin-left: 0px;
}

.node circle {
	fill: rgb(106, 105, 105);
	stroke: steelblue;
	stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.link:hover {
	stroke: rgb(189, 20, 186);
}

.node rect {
	fill: none;
	stroke: hsla(0, 0%, 0%, 0.2);
	stroke-width: 1;
	stroke-dasharray: 5;
}

.node line {
	stroke: hsla(0, 100%, 0%, 0.2);
	stroke-width: 1;
	stroke-dasharray: 5;
}

.node text {
	font: 10px sans-serif;
	user-select: none;
}

.brush .extent {
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.textboard {
	position: absolute;
	/* top: 100px;
	left: 200px; */
	width: 100%;
	height: 100%;
}
